In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Se importa el archivo csv creado anteriormente, el cual contiene todos los csv transformados

In [44]:
bd0 = pd.read_csv("bases_datos.csv")

In [35]:
bd0.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,id,duration_int,duration_type,Plataforma
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,G,"comedy, drama",a small fishing village must procure a local d...,as1,113.0,min,amazon
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,as2,110.0,min,amazon
2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,G,"action, drama, suspense",after a man discovers his wife is cheating on ...,as3,74.0,min,amazon
3,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,G,documentary,"pink breaks the mold once again, bringing her ...",as4,69.0,min,amazon
4,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,G,"drama, fantasy",teenage matt banting wants to work with a famo...,as5,45.0,min,amazon

Se concatenan los archivos relacionados a los score por cada usuario y pelicula

In [45]:
Dict_Users = {
    1 : "1",
    2 : "2",
    3 : "3",
    4 : "4",
    5 : "5",
    6 : "6",
    7 : "7",
    8 : "8"
}
def UnificarDbUsers(Dict_Users):
    Db_Users = pd.DataFrame()
    for i in Dict_Users.values():        
        #print(i)
        Db_Users = pd.concat([Db_Users, pd.read_csv(i + ".csv")])
    return Db_Users
Db_Users = UnificarDbUsers(Dict_Users)
    
#Db_1 = pd.read_csv("1.csv")
#Db_Users.head()
print(Db_Users)

         userId  rating   timestamp movieId
0             1     1.0  1425941529   as680
1             1     4.5  1425942435  ns2186
2             1     5.0  1425941523  hs2381
3             1     5.0  1425941546  ns3663
4             1     5.0  1425941556  as9500
...         ...     ...         ...     ...
1499995  124380     4.5  1196786159  ns5272
1499996  124380     2.5  1196786030  ns5492
1499997  124380     3.5  1196785679   hs305
1499998  124380     4.5  1196787089  ns7881
1499999  124380     1.5  1196785847   as883

[11024289 rows x 4 columns]

Se convierte en dataframe, la concatenación realizada de los diferentes archivos asociados a los puntajes por pelicula

In [46]:
scored = pd.DataFrame(Db_Users,columns=["userId", "rating", "timestamp", "movieId"])
scored

         userId  rating   timestamp movieId
0             1     1.0  1425941529   as680
1             1     4.5  1425942435  ns2186
2             1     5.0  1425941523  hs2381
3             1     5.0  1425941546  ns3663
4             1     5.0  1425941556  as9500
...         ...     ...         ...     ...
1499995  124380     4.5  1196786159  ns5272
1499996  124380     2.5  1196786030  ns5492
1499997  124380     3.5  1196785679   hs305
1499998  124380     4.5  1196787089  ns7881
1499999  124380     1.5  1196785847   as883

[11024289 rows x 4 columns]

Se saca el score promedio por cada pelicula

In [32]:
#Db_Scores = Db_Users.groupby(['movieId']).mean()["rating"]
#Db_Scores = Db_Scores.rename("Score")
#print(Db_Scores)

movieId
as1       3.467131
as10      3.439571
as100     3.609302
as1000    3.556701
as1001    3.585288
            ...
ns995     3.515625
ns996     3.626518
ns997     3.530526
ns998     3.582645
ns999     3.494781
Name: Score, Length: 22998, dtype: float64

Se unen las 2 bases de datos, la primera base de datos, la cual hace referencia a las transformaciones solicitadas y la segunda base de datos que hace referencia a los puntajes por cada usuario y pelicula

In [47]:
bd = pd.merge(scored, bd0, left_on="movieId", right_on="id")
bd.head()

,userId,rating_x,timestamp,movieId,show_id,type,title,director,cast,country,date_added,release_year,rating_y,listed_in,description,id,duration_int,duration_type,Plataforma
0,1,1.0,1425941529,as680,s680,tv show,the english civil war,NaN,robert whelan,NaN,NaN,2019,13+,"documentary, special interest",a nation divided. it was a time of great bitte...,as680,1.0,Season,amazon
1,583,4.5,1112982383,as680,s680,tv show,the english civil war,NaN,robert whelan,NaN,NaN,2019,13+,"documentary, special interest",a nation divided. it was a time of great bitte...,as680,1.0,Season,amazon
2,765,5.0,889677014,as680,s680,tv show,the english civil war,NaN,robert whelan,NaN,NaN,2019,13+,"documentary, special interest",a nation divided. it was a time of great bitte...,as680,1.0,Season,amazon
3,2116,3.0,836264839,as680,s680,tv show,the english civil war,NaN,robert whelan,NaN,NaN,2019,13+,"documentary, special interest",a nation divided. it was a time of great bitte...,as680,1.0,Season,amazon
4,2143,3.0,1435067487,as680,s680,tv show,the english civil war,NaN,robert whelan,NaN,NaN,2019,13+,"documentary, special interest",a nation divided. it was a time of great bitte...,as680,1.0,Season,amazon

Se cambian los nombres de la columnas y se elimina una columna repetida

In [48]:
bd.rename(columns={"rating_x" : "Score", "rating_y" : "rating"}, inplace=True)
bd.drop(["movieId"], axis=1, inplace=True)

In [49]:
bd.head()

,userId,Score,timestamp,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,id,duration_int,duration_type,Plataforma
0,1,1.0,1425941529,s680,tv show,the english civil war,NaN,robert whelan,NaN,NaN,2019,13+,"documentary, special interest",a nation divided. it was a time of great bitte...,as680,1.0,Season,amazon
1,583,4.5,1112982383,s680,tv show,the english civil war,NaN,robert whelan,NaN,NaN,2019,13+,"documentary, special interest",a nation divided. it was a time of great bitte...,as680,1.0,Season,amazon
2,765,5.0,889677014,s680,tv show,the english civil war,NaN,robert whelan,NaN,NaN,2019,13+,"documentary, special interest",a nation divided. it was a time of great bitte...,as680,1.0,Season,amazon
3,2116,3.0,836264839,s680,tv show,the english civil war,NaN,robert whelan,NaN,NaN,2019,13+,"documentary, special interest",a nation divided. it was a time of great bitte...,as680,1.0,Season,amazon
4,2143,3.0,1435067487,s680,tv show,the english civil war,NaN,robert whelan,NaN,NaN,2019,13+,"documentary, special interest",a nation divided. it was a time of great bitte...,as680,1.0,Season,amazon

Se exporta la base de datos a un csv para poder seguir trabajando con el documento

In [51]:
bd.to_csv("bases_datos2.csv", index=False)

Pelicula con mayor duración

In [50]:
def get_max_duration(year, platform, duration_type):
    db_b = bd[bd.Plataforma == platform]
    db_b2 = db_b[db_b.release_year == year]
    db_b3 = db_b2[db_b2.duration_type == duration_type]
    db_b4 = db_b3.sort_values("duration_int", ascending=False)
    db5 = db_b4[db_b4.duration_int == db_b4.iloc[0].duration_int]
    pelicula = db5.iloc[0].title
    pelicula1 = db5.iloc[0].duration_int
    
    return(f"pelicula con mayor duración: {pelicula}, duración: {pelicula1}, duration_type: {duration_type}")

get_max_duration(2015, "netflix", "min")

'pelicula con mayor duración: the gospel of luke, duración: 205.0, duration_type: min'

Cantidad de películas por plataforma con un puntaje mayor a XX en determinado año

In [ ]:
#Cantidad de películas por plataforma con un puntaje mayor a XX en determinado año
def score_count (plataforma, score, year):
    db_b = bd[bd.Plataforma == plataforma]
    db_b1 = db_b[db_b.release_year == year]
    db_b2 = db_b1[db_b1.Score > score]
    Numero = len(db_b2)
    print("plataforma: ",plataforma, "cantidad: ", Numero)
    return Numero

score_count("netflix", 3, 2010)

plataforma:  netflix cantidad:  194

194

Cantidad de películas por plataforma con filtro de PLATAFORMA

In [ ]:
def get_count_platform(platform):
    db = bd[bd.Plataforma == platform]
    db1 = bd[bd.type == "movie"]
    Numero = len(db1)
    return ("cantidad de peliculas de la plataforma", platform, Numero)

get_count_platform("amazon")

('cantidad de peliculas de la plataforma', 'amazon', 16481)

In [ ]:
print(bd)

       show_id     type                           title        director  \
as1         s1    movie             the grand seduction    don mckellar
as2         s2    movie            take care good night    girish joshi
as3         s3    movie            secrets of deception     josh webber
as4         s4    movie              pink: staying true  sonia anderson
as5         s5    movie                   monster maker    giles foster
...        ...      ...                             ...             ...
hs3069   s3069  tv show  star trek: the original series             NaN
hs3070   s3070  tv show              star trek: voyager             NaN
hs3071   s3071  tv show                       the fades             NaN
hs3072   s3072  tv show               the twilight zone             NaN
hs3073   s3073  tv show             tokyo magnitude 8.0             NaN

                                                     cast         country  \
as1        brendan gleeson, taylor kitsch, gordon pinsent          canada
as2      mahesh manjrekar, abhay mahajan, sachin khedekar           india
as3     tom sizemore, lorenzo lamas, robert lasardo, r...   united states
as4     interviews with: pink, adele, beyoncé, britney...   united states
as5     harry dean stanton, kieran o'brien, george cos...  united kingdom
...                                                   ...             ...
hs3069                                                NaN   united states
hs3070                                                NaN   united states
hs3071                                                NaN  united kingdom
hs3072                                                NaN   united states
hs3073                                                NaN           japan

        date_added  release_year rating  \
as1     2021-03-30          2014      G
as2     2021-03-30          2018    13+
as3     2021-03-30          2017      G
as4     2021-03-30          2014      G
as5     2021-03-30          1989      G
...            ...           ...    ...
hs3069         NaN          1966  TV-PG
hs3070         NaN          1997  TV-PG
hs3071         NaN          2011  TV-14
hs3072         NaN          1959  TV-PG
hs3073         NaN          2009  TV-14

                                     listed_in  \
as1                              comedy, drama
as2                       drama, international
as3                    action, drama, suspense
as4                                documentary
as5                             drama, fantasy
...                                        ...
hs3069             action, adventure, classics
hs3070      action, adventure, science fiction
hs3071  horror, international, science fiction
hs3072     classics, science fiction, thriller
hs3073             anime, drama, international

                                              description  duration_int  \
as1     a small fishing village must procure a local d...         113.0
as2     a metro family decides to fight a cyber crimin...         110.0
as3     after a man discovers his wife is cheating on ...          74.0
as4     pink breaks the mold once again, bringing her ...          69.0
as5     teenage matt banting wants to work with a famo...          45.0
...                                                   ...           ...
hs3069  the 23rd century adventures of captain james t...           3.0
hs3070  catapulted into the distant sector of the gala...           7.0
hs3071  seventeen-year-old paul is haunted by apocalyp...           1.0
hs3072  rod serling's seminal anthology series focused...           5.0
hs3073  the devastation is unleashed in the span of se...           1.0

       duration_type Plataforma     Score
as1              min     amazon  3.467131
as2              min     amazon  3.548682
as3              min     amazon  3.500000
as4              min     amazon  3.538055
as5              min     amazon  3.478992
...              ...        ...       ...
hs3069       Seasons       hulu  3.498058
hs3070       Seasons       hulu  3.502183
hs3071        Season       hulu  3.540860
hs3072       Seasons       hulu  3.494163
hs3073        Season       hulu  3.581871

[22998 rows x 15 columns]

Actor que más se repite según plataforma y año

In [ ]:
def get_actor(platform, year):
    db = bd[bd.Plataforma == platform]
    db2 = db[db.release_year == year]
    db2 = db2["cast"].value_counts()
    #db2 = db2.sort_values("cast", ascending=True)
    #db3 = db2[db2.cast == db2.iloc[0].cast]
    #pelicula = db3.iloc[0].cast
    return(db2)
get_actor("netflix", 2016)

In [ ]:
# + Actor que más se repite según plataforma y año.
def get_actor(platform, year):    
    # Se separan los actores en diferentes columnas y luego se unifican en una sola
    # para saber cual es el actor que mas se repite
    
    Df_Plataforma = bd[bd.Plataforma.isin([platform])&bd.release_year.isin([year])]
    #print(Df_Plataforma, Df_Plataforma.shape)    
    Expand = Df_Plataforma["cast"].str.split(",", expand=True)
    #print(f"Actores Original:\n {Expand}\n")
    Unificado = pd.DataFrame()
    for i in Expand.columns:
        Unificado = pd.concat([Unificado, Expand[i]])
    #for i in Unificado.index:
     #   print(Unificado[0][i])
    #print(f"Actores:\n {Unificado}\n")
    Moda = Unificado.mode()[0][0]
    print(f"Actor más repetido: {Moda}\n")
    return Moda
#print ("Vamos a probarrrr \n\n")
get_actor("netflix",1980)

Actor más repetido:  prem chopra

' prem chopra'